In [28]:
#Import Libraries

import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np
import seaborn as sns
import sidetable
#from pandas_profiling import ProfileReport

In [29]:
#Read in data (could be done from a file(excel/csv), API, link, or SQL dB)
#df = pd.read_csv('')
df = pd.read_csv("/data/sample_-_superstore.xls")
df.head()

(62, 8)

In [30]:
#examines the first 5 rows of data
df.shape()

,Fruit,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
0,Apples,Fresh,1.8541,per pound,0.90,0.2425,pounds,0.4996
1,"Apples, applesauce",Canned,1.1705,per pound,1.00,0.5401,pounds,0.6323
2,"Apples, ready-to-drink",Juice,0.8699,per pint,1.00,8.0000,fluid ounces,0.4349
3,"Apples, frozen concentrate",Juice,0.6086,per pint,1.00,8.0000,fluid ounces,0.3043
4,Apricots,Fresh,3.6162,per pound,0.93,0.3638,pounds,1.4145

In [31]:
#examines the column names
df.columns

Index(['Fruit', 'Form', 'RetailPrice', 'RetailPriceUnit', 'Yield',
       'CupEquivalentSize', 'CupEquivalentUnit', 'CupEquivalentPrice'],
      dtype='object')

In [32]:
#examines the data types in each column
df.dtypes

Fruit                  object
Form                   object
RetailPrice           float64
RetailPriceUnit        object
Yield                 float64
CupEquivalentSize     float64
CupEquivalentUnit      object
CupEquivalentPrice    float64
dtype: object

In [43]:
#let's count the values in the fruit column
df.Fruit.value_counts # "." notation
#try the following, "bracket" notation []:
df['Fruit'].value_counts

<bound method IndexOpsMixin.value_counts of 0                         Apples
1             Apples, applesauce
2         Apples, ready-to-drink
3     Apples, frozen concentrate
4                       Apricots
                 ...
57                   Raspberries
58                   Raspberries
59                  Strawberries
60                  Strawberries
61                    Watermelon
Name: Fruit, Length: 62, dtype: object>

In [34]:
#examine the average price across all fruit
#--we use the mean instead of the average function here
df.RetailPrice.mean()

2.994570967741934