### Business Understanding

![CRISP_DM](\images\CRISP-DM.png "a title")

Business/Stakeholder problem to be solved
- DAL Vendors, monthly break down, 
    - Clear Vendor (DAL payments by month)
- DFR
    - Purchase order(s) from Dallas Fire Department for Medline Industries
- Temp Staffing/Contract
    - I am requesting an opportunity to inspect or obtain copies of public records for the contract - Temporary Staffing. The details I am requesting are given below: Proposals of the awarded vendors. Spending on this contract till now.

### Data Understanding

Data sourced from Dallas Open Data Portal, [Vendor Payments for Fiscal Year 2019-Present](https://www.dallasopendata.com/Economy/Vendor-Payments-for-Fiscal-Year-2019-Present/x5ih-idh7)
Latest 500k query.
Resources:
- Questions sourced from [Dallas Open Records](https://dallastx.govqa.us/WEBAPP/_rs/(S(yvwdnfffcg5vrmly43gmvfag))/OpenRecordsSummary.aspx?sSessionID=)

The csv  has 22 columns and 850,000+ rows.
Features include:
(List of columns)

## FIELD NAME DESCRIPTION
-   RUN DATE DATE POSTED
-   FY FISCAL YEAR
-   FM FISCAL MONTH ‐ OCTOBER IS MONTH 1/SEPTEMBER IS MONTH 12/PERIOD 13 IS AN ADJUSTMENT PERIOD AT YEAR END
-   DOC‐ID SYSTEM DOCUMENT ID ‐ READS AS FOLLOWS ‐ DOCUMENT TYPE‐DEPARTMENT‐DOCUMENT NUMBER
-   CHKSUBTOT PAYMENT SUBTOTAL BY LINE ITEM
-   VCODE VENDOR CODE
-   VENDOR VENDOR NAME
-   ZIP5 VENDOR ZIP CODE
-   FTYP FUND TYPE ABBREVIATION ‐ SEE THE 'READ MORE' SECTION OF THIS WEBSITE FOR DESCRIPTIONS
-   FUND TYPE FUND TYPE ‐ SEE THE 'READ MORE' SECTION OF THIS WEBSITE FOR DESCRIPTIONS
-   DPT DEPARTMENT ABBREVIATION
-   DEPARTMENT DEPARTMENT
-   ACTV INTERNAL ACTIVITY CODE
-   ACTIVITY ACTIVITY
-   OGRP OBJECT GROUP ABBREVIATION
-   OBJECTGROUP OBJECT GROUP (SPECIFIES THE EXPENDITURE CLASSIFICATION)
-   OBJ NUMERIC CODE ASSOCIATED WITH THE OBJECT
-   OBJECT DESCRIPTION OF OBJ ‐ OBJECTS ARE PLACED IN TO OBJECT GROUPS FOR CLASSIFICATION, BASED ON THEIR OBJ CODE
-   COMM COMMODITY CODE
-   COMMODITY DSCR DESCRIPTION OF COMM (COMMODITY CODE)
-   INVOICEDATE NOT APPLICABLE
-   INVOICENUMBER NOT APPLICABLE

In [83]:
#Import Libraries

import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np
import seaborn as sns
import sidetable
#from pandas_profiling import ProfileReport

In [84]:
#Read in data (could be done from a file(excel/csv), API, link, or SQL dB)
df = pd.read_csv("https://www.dallasopendata.com/resource/x5ih-idh7.csv?$limit=50000")
df.shape

(50000, 22)

In [85]:
#formatting columns, specifically the chksubtot column
format_dict =  {'chksubtot':'${:,.2f}'}

In [86]:

df.head()

,rundate,fy,fm,docid,chksubtot,vcode,vendor,zip5,ftyp,fundtype,...,actv,activity,ogrp,objectgroup,obj,object,comm,commoditydscr,invoicedate,invoicenumber
0,2023-11-01T00:00:00.000,2024,2,AD-BMS-AY240002070,540.63,MVORM001,SAMUEL RAYMOND MERRIFIELD AND THE KAR STORE,NaN,OTHO,Other Operating Fund,...,RM12,Claims For Injury/Damage To Personal Property,QV,Contractual & Other Services,3521,Judgements & Damages,NaN,NONE,NaN,NaN
1,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240010158,667.44,VS0000073028,FORTILINE INC.,75284,EFOP,Enterprise Operating Fund,...,DW01,Water Treatment,QM,Supplies & Materials,2998,Inventory Purchase,67070.0,"VALVES, BRONZE: ANGLE, BALL, CHECK, GATE, GLOB...",NaN,NaN
2,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240009859,473.88,331904,"M A N S DISTRIBUTORS, INC",75006,GNFD,General Fund,...,ST10,In-House Preservation,QM,Supplies & Materials,2220,Laundry & Cleaning Suppl,48500.0,"JANITORIAL SUPPLIES, GENERAL LINE",NaN,NaN
3,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240009872,561.98,399372,THE AROUND THE CLOCK FREIGHTLINER GROUP LLC,75247,INSV,Internal Service Fund,...,EQ04,City Fleet Maintenance And Repair Services,QV,Contractual & Other Services,3110,Repair&Maint Serv Equip,6000.0,AUTOMOTIVE AND TRAILER MAINTENANCE ITEMS AND R...,NaN,NaN
4,2023-11-01T00:00:00.000,2024,2,AD-BMS-AY240002123,15207.50,VS0000071772,Carter Arnett PLLC,75206,OTHO,Other Operating Fund,...,RM01,Risk Management Services,QV,Contractual & Other Services,3033,Legal Fees,96149.0,"LEGAL SERVICES, ATTORNEYS",NaN,NaN

### Exploratory Data Analysis

In [87]:
df.dtypes

rundate           object
fy                 int64
fm                 int64
docid             object
chksubtot        float64
vcode             object
vendor            object
zip5              object
ftyp              object
fundtype          object
dpt               object
department        object
actv              object
activity          object
ogrp              object
objectgroup       object
obj               object
object            object
comm             float64
commoditydscr     object
invoicedate      float64
invoicenumber    float64
dtype: object

In [88]:
#notice the zip code, fy, & fm datatype is incorrect. It should be a int and not a float

#df.zip5 = df.zip5.astype(int)
#df.fy = df.fy.astype(int)
#df.fm = df.fm.astype(int)

In [89]:
df.describe()

,fy,fm,chksubtot,comm,invoicedate,invoicenumber
count,50000.000000,50000.000000,5.000000e+04,42994.000000,0.0,0.0
mean,2023.251600,7.727220,1.829359e+04,69524.431758,NaN,NaN
std,0.433937,4.093281,1.482478e+05,34414.145995,NaN,NaN
min,2023.000000,1.000000,-1.677464e+05,505.000000,NaN,NaN
25%,2023.000000,2.000000,2.539200e+02,42044.000000,NaN,NaN
50%,2023.000000,9.000000,9.447900e+02,91200.000000,NaN,NaN
75%,2024.000000,11.000000,4.081275e+03,96224.000000,NaN,NaN
max,2024.000000,12.000000,9.089393e+06,99231.000000,NaN,NaN

In [90]:
df.department.value_counts()

Water Utilities                             9695
Park & Recreation                           5944
Management Services                         5260
Inventory Purchase                          5223
Aviation                                    2360
Equipment & Fleet Management                2083
Dallas Police Dept                          1986
Public Works & Transporation                1849
Sanitation Svcs                             1616
Office Of Cultural Affairs                  1532
Building Services                           1397
Dallas Fire Department                      1385
Stormwater Drainage Management              1072
Code Compliance                             1015
Communication & Info Svcs                    990
Risk Management                              933
Library                                      784
Transportation                               777
Dallas Animal Services                       679
Sustainable Development and Construction     409
Housing/Community Services                   373
Court & Detention Services                   339
City Controller's Office                     282
Office of Budget                             252
Office Of Economic Development               233
Human Resources                              231
Purchasing/Bus. Diversity Dev                224
Convention And Event Services                217
City Attorney                                195
Mayor & Council                              171
Planning & Urban Design                      130
City Secretary                                97
Municipal Court-Judiciary                     78
Civil Service                                 60
Trinity Watershed Management                  50
City Auditor                                  29
Data Analytics and Business Intelligence      28
City Manager's Office                         18
Streets Svcs                                   4
Name: department, dtype: int64

In [91]:
#percentage of null values
df.isna().mean()

rundate          0.00000
fy               0.00000
fm               0.00000
docid            0.00000
chksubtot        0.00000
vcode            0.00000
vendor           0.00000
zip5             0.01176
ftyp             0.00000
fundtype         0.00000
dpt              0.00000
department       0.00000
actv             0.00000
activity         0.00000
ogrp             0.00000
objectgroup      0.00000
obj              0.00000
object           0.00000
comm             0.14012
commoditydscr    0.00000
invoicedate      1.00000
invoicenumber    1.00000
dtype: float64

In [92]:
#further inspection of the null values for the zip5 (vendor zip code)column
null_zip = df[df['zip5'].isnull()]
null_zip.head()

,rundate,fy,fm,docid,chksubtot,vcode,vendor,zip5,ftyp,fundtype,...,actv,activity,ogrp,objectgroup,obj,object,comm,commoditydscr,invoicedate,invoicenumber
0,2023-11-01T00:00:00.000,2024,2,AD-BMS-AY240002070,540.63,MVORM001,SAMUEL RAYMOND MERRIFIELD AND THE KAR STORE,NaN,OTHO,Other Operating Fund,...,RM12,Claims For Injury/Damage To Personal Property,QV,Contractual & Other Services,3521,Judgements & Damages,NaN,NONE,NaN,NaN
5,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240009808,1245.27,053277,Chemtrade Chemicals US LLC,NaN,EFOP,Enterprise Operating Fund,...,DW01,Water Treatment,QM,Supplies & Materials,2200,Chemical Medical Surgical,89079.0,WATER AND WASTEWATER DISINFECTING OZONATORS,NaN,NaN
46,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240009811,7449.99,053277,Chemtrade Chemicals US LLC,NaN,EFOP,Enterprise Operating Fund,...,DW01,Water Treatment,QM,Supplies & Materials,2200,Chemical Medical Surgical,89079.0,WATER AND WASTEWATER DISINFECTING OZONATORS,NaN,NaN
205,2023-11-01T00:00:00.000,2024,2,AD-BMS-AY240002063,125.00,MVORM001,CLICK APPRAISAL SERVICE LLC,NaN,OTHO,Other Operating Fund,...,RM12,Claims For Injury/Damage To Personal Property,QV,Contractual & Other Services,3521,Judgements & Damages,NaN,NONE,NaN,NaN
232,2023-11-01T00:00:00.000,2024,2,AD-BMS-AY240002068,2774.27,MVORM001,LENA JOHNSON AND B 7 MOTORS,NaN,OTHO,Other Operating Fund,...,RM12,Claims For Injury/Damage To Personal Property,QV,Contractual & Other Services,3521,Judgements & Damages,NaN,NONE,NaN,NaN

In [93]:
#further inspection of the null values for the comm (commodity code) column
null_comm = df[df['comm'].isnull()]
null_comm.head()

,rundate,fy,fm,docid,chksubtot,vcode,vendor,zip5,ftyp,fundtype,...,actv,activity,ogrp,objectgroup,obj,object,comm,commoditydscr,invoicedate,invoicenumber
0,2023-11-01T00:00:00.000,2024,2,AD-BMS-AY240002070,540.63,MVORM001,SAMUEL RAYMOND MERRIFIELD AND THE KAR STORE,NaN,OTHO,Other Operating Fund,...,RM12,Claims For Injury/Damage To Personal Property,QV,Contractual & Other Services,3521,Judgements & Damages,NaN,NONE,NaN,NaN
6,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240009913,113.32,881153,ABIDUR R. KHAN,75201,EFOP,Enterprise Operating Fund,...,SD01,Storm Water Drainage Management,QV,Contractual & Other Services,3363,"Reimb-Vehicle Use,Parking",NaN,NONE,NaN,NaN
8,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240010005,49.78,VC28407,Peter Nguyen,75228,EFOP,Enterprise Operating Fund,...,DW06,Wastewater Collection System Maintenance,QV,Contractual & Other Services,3363,"Reimb-Vehicle Use,Parking",NaN,NONE,NaN,NaN
9,2023-11-01T00:00:00.000,2024,2,AD-BMS-AY240002103,324.50,VC0000009605,MATTHEW WEHRLE,75201,FDGT,Federal Grant (non Consolidated Plan),...,CM02,Intergovernmental Legislative Affairs And Fund...,QV,Contractual & Other Services,3361,Professional Development,NaN,NONE,NaN,NaN
34,2023-11-01T00:00:00.000,2024,2,AD-BMS-AY240002089,100.00,075972,CITY OF DALLAS,75226,GNFD,General Fund,...,PK09,Park And Recreation Department Community Recre...,QV,Contractual & Other Services,3068,Security Monitoring Services,NaN,NONE,NaN,NaN

In [94]:
df['department'] = df.department.astype('string')
df.department.dtypes

StringDtype

In [95]:
# drop fm columns where month = 13, these are Adjustment periods
# 0's will effect the conversion to a datetime data type


df = df[df.fm != 13]
df.fm.value_counts()

1     12000
11     8205
12     7870
8      7067
9      6748
10     6176
7      1354
2       580
Name: fm, dtype: int64

In [96]:
#assign datetime mm/year

date_conditions = [
    (df['fm'] == 1),
    (df['fm'] == 2),
    (df['fm'] == 3),
    (df['fm'] == 4),
    (df['fm']== 5),
    (df['fm'] == 6),
    (df['fm'] == 7),
    (df['fm'] == 8),
    (df['fm'] == 9),
    (df['fm'] == 10),
    (df['fm'] == 11),
    (df['fm'] == 12)
    
]

date_values = ['10','11','12','1', '2','3',
'4','5','6','7','8','9']

#cm = calendar year month

df['cm'] = np.select(date_conditions, date_values)
df['cm']
df.cm.value_counts()

10    12000
8      8205
9      7870
5      7067
6      6748
7      6176
4      1354
11      580
Name: cm, dtype: int64

In [97]:

df['cm']= pd.to_numeric(df['cm'])
df.dtypes

rundate           object
fy                 int64
fm                 int64
docid             object
chksubtot        float64
vcode             object
vendor            object
zip5              object
ftyp              object
fundtype          object
dpt               object
department        string
actv              object
activity          object
ogrp              object
objectgroup       object
obj               object
object            object
comm             float64
commoditydscr     object
invoicedate      float64
invoicenumber    float64
cm                 int64
dtype: object

In [98]:
df["date_combo"]= df.apply(lambda row: str(row['cm']) + '-'+ str(row['fy']), axis = 1) #string together the MM/YYYY
df['date_combo'] = pd.to_datetime(df['date_combo']).dt.strftime('%Y-%m') #convert this to a date format
df.head()

,rundate,fy,fm,docid,chksubtot,vcode,vendor,zip5,ftyp,fundtype,...,ogrp,objectgroup,obj,object,comm,commoditydscr,invoicedate,invoicenumber,cm,date_combo
0,2023-11-01T00:00:00.000,2024,2,AD-BMS-AY240002070,540.63,MVORM001,SAMUEL RAYMOND MERRIFIELD AND THE KAR STORE,NaN,OTHO,Other Operating Fund,...,QV,Contractual & Other Services,3521,Judgements & Damages,NaN,NONE,NaN,NaN,11,2024-11
1,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240010158,667.44,VS0000073028,FORTILINE INC.,75284,EFOP,Enterprise Operating Fund,...,QM,Supplies & Materials,2998,Inventory Purchase,67070.0,"VALVES, BRONZE: ANGLE, BALL, CHECK, GATE, GLOB...",NaN,NaN,11,2024-11
2,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240009859,473.88,331904,"M A N S DISTRIBUTORS, INC",75006,GNFD,General Fund,...,QM,Supplies & Materials,2220,Laundry & Cleaning Suppl,48500.0,"JANITORIAL SUPPLIES, GENERAL LINE",NaN,NaN,11,2024-11
3,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240009872,561.98,399372,THE AROUND THE CLOCK FREIGHTLINER GROUP LLC,75247,INSV,Internal Service Fund,...,QV,Contractual & Other Services,3110,Repair&Maint Serv Equip,6000.0,AUTOMOTIVE AND TRAILER MAINTENANCE ITEMS AND R...,NaN,NaN,11,2024-11
4,2023-11-01T00:00:00.000,2024,2,AD-BMS-AY240002123,15207.50,VS0000071772,Carter Arnett PLLC,75206,OTHO,Other Operating Fund,...,QV,Contractual & Other Services,3033,Legal Fees,96149.0,"LEGAL SERVICES, ATTORNEYS",NaN,NaN,11,2024-11

In [99]:

df.convert_dtypes()

,rundate,fy,fm,docid,chksubtot,vcode,vendor,zip5,ftyp,fundtype,...,ogrp,objectgroup,obj,object,comm,commoditydscr,invoicedate,invoicenumber,cm,date_combo
0,2023-11-01T00:00:00.000,2024,2,AD-BMS-AY240002070,540.63,MVORM001,SAMUEL RAYMOND MERRIFIELD AND THE KAR STORE,<NA>,OTHO,Other Operating Fund,...,QV,Contractual & Other Services,3521,Judgements & Damages,<NA>,NONE,<NA>,<NA>,11,2024-11
1,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240010158,667.44,VS0000073028,FORTILINE INC.,75284,EFOP,Enterprise Operating Fund,...,QM,Supplies & Materials,2998,Inventory Purchase,67070,"VALVES, BRONZE: ANGLE, BALL, CHECK, GATE, GLOB...",<NA>,<NA>,11,2024-11
2,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240009859,473.88,331904,"M A N S DISTRIBUTORS, INC",75006,GNFD,General Fund,...,QM,Supplies & Materials,2220,Laundry & Cleaning Suppl,48500,"JANITORIAL SUPPLIES, GENERAL LINE",<NA>,<NA>,11,2024-11
3,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240009872,561.98,399372,THE AROUND THE CLOCK FREIGHTLINER GROUP LLC,75247,INSV,Internal Service Fund,...,QV,Contractual & Other Services,3110,Repair&Maint Serv Equip,6000,AUTOMOTIVE AND TRAILER MAINTENANCE ITEMS AND R...,<NA>,<NA>,11,2024-11
4,2023-11-01T00:00:00.000,2024,2,AD-BMS-AY240002123,15207.50,VS0000071772,Carter Arnett PLLC,75206,OTHO,Other Operating Fund,...,QV,Contractual & Other Services,3033,Legal Fees,96149,"LEGAL SERVICES, ATTORNEYS",<NA>,<NA>,11,2024-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2023-04-24T00:00:00.000,2023,7,EFT-BMS-EY230034039,1654.69,339913,WILLIAMS SCOTSMAN INC,76119,GNFD,General Fund,...,QV,Contractual & Other Services,3330,Rents (Lease),97140,MOBILE OFFICE RENTAL OR LEASE,<NA>,<NA>,4,2023-04
49996,2023-04-24T00:00:00.000,2023,7,EFT-BMS-EY230034128,49398.80,341124,POLYDYNE INC,31323,EFOP,Enterprise Operating Fund,...,QM,Supplies & Materials,2200,Chemical Medical Surgical,88500,WATER AND WASTEWATER TREATING CHEMICALS,<NA>,<NA>,4,2023-04
49997,2023-04-24T00:00:00.000,2023,7,EFT-BMS-EY230034299,30672.50,VS0000009377,SIGMA SURVEILLANCE INC,75244,CVID,COVID-19,...,QV,Contractual & Other Services,3099,Misc Special Services,91800,CONSULTING SERVICES,<NA>,<NA>,4,2023-04
49998,2023-04-24T00:00:00.000,2023,7,AD-BMS-AY230016004,70.22,PCAVI007,Robert L Lackey,75201,EFOP,Enterprise Operating Fund,...,QM,Supplies & Materials,2110,Office Supplies,<NA>,NONE,<NA>,<NA>,4,2023-04
49999,2023-04-24T00:00:00.000,2023,7,EFT-BMS-EY230034149,83786.50,113696,SAM PACK'S FIVE STAR FORD,75234,EFOP,Enterprise Operating Fund,...,RC,Capital Outlay,4741,Automobiles,97514,AUTOMOBILES AND OTHER PASSENGER VEHICLES (INCL...,<NA>,<NA>,4,2023-04

In [100]:
df['date_combo'] = pd.to_datetime(df['date_combo'])
df.dtypes

rundate                  object
fy                        int64
fm                        int64
docid                    object
chksubtot               float64
vcode                    object
vendor                   object
zip5                     object
ftyp                     object
fundtype                 object
dpt                      object
department               string
actv                     object
activity                 object
ogrp                     object
objectgroup              object
obj                      object
object                   object
comm                    float64
commoditydscr            object
invoicedate             float64
invoicenumber           float64
cm                        int64
date_combo       datetime64[ns]
dtype: object

In [101]:
#Extract quarters from date_combo,using FY quarters
per = pd.Period('2018q1', freq = 'Q-SEP')
#per.start_time
#per.qyear#returns the fy year
#per.year #returns the calendar year

#https://datagy.io/pandas-fiscal-year/

In [102]:
#creating a FY-q with the dates for later analysis
df['fy_q'] = df['date_combo'].dt.to_period('Q-SEP')
df.head()

,rundate,fy,fm,docid,chksubtot,vcode,vendor,zip5,ftyp,fundtype,...,objectgroup,obj,object,comm,commoditydscr,invoicedate,invoicenumber,cm,date_combo,fy_q
0,2023-11-01T00:00:00.000,2024,2,AD-BMS-AY240002070,540.63,MVORM001,SAMUEL RAYMOND MERRIFIELD AND THE KAR STORE,NaN,OTHO,Other Operating Fund,...,Contractual & Other Services,3521,Judgements & Damages,NaN,NONE,NaN,NaN,11,2024-11-01,2025Q1
1,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240010158,667.44,VS0000073028,FORTILINE INC.,75284,EFOP,Enterprise Operating Fund,...,Supplies & Materials,2998,Inventory Purchase,67070.0,"VALVES, BRONZE: ANGLE, BALL, CHECK, GATE, GLOB...",NaN,NaN,11,2024-11-01,2025Q1
2,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240009859,473.88,331904,"M A N S DISTRIBUTORS, INC",75006,GNFD,General Fund,...,Supplies & Materials,2220,Laundry & Cleaning Suppl,48500.0,"JANITORIAL SUPPLIES, GENERAL LINE",NaN,NaN,11,2024-11-01,2025Q1
3,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240009872,561.98,399372,THE AROUND THE CLOCK FREIGHTLINER GROUP LLC,75247,INSV,Internal Service Fund,...,Contractual & Other Services,3110,Repair&Maint Serv Equip,6000.0,AUTOMOTIVE AND TRAILER MAINTENANCE ITEMS AND R...,NaN,NaN,11,2024-11-01,2025Q1
4,2023-11-01T00:00:00.000,2024,2,AD-BMS-AY240002123,15207.50,VS0000071772,Carter Arnett PLLC,75206,OTHO,Other Operating Fund,...,Contractual & Other Services,3033,Legal Fees,96149.0,"LEGAL SERVICES, ATTORNEYS",NaN,NaN,11,2024-11-01,2025Q1

In [103]:
df.dtypes

rundate                  object
fy                        int64
fm                        int64
docid                    object
chksubtot               float64
vcode                    object
vendor                   object
zip5                     object
ftyp                     object
fundtype                 object
dpt                      object
department               string
actv                     object
activity                 object
ogrp                     object
objectgroup              object
obj                      object
object                   object
comm                    float64
commoditydscr            object
invoicedate             float64
invoicenumber           float64
cm                        int64
date_combo       datetime64[ns]
fy_q              period[Q-SEP]
dtype: object

#### Which department has the most vendor payouts by year and what is its average payout

In [104]:
format_dict = {'chksubtot':'${:,.0f}'}

In [105]:
#fy 2024
fy_24 = df[df.fy ==2024]
fy_24.style.format(format_dict)
fy_24.stb.freq(['department'], value='chksubtot', style=True, cum_cols=False)

In [107]:
fy_23= df[df.fy ==2023]
fy_23.style.format(format_dict)
fy_23.stb.freq(['department'], value='chksubtot', style=True, cum_cols=False)

In [30]:
# col_nam = df.department.unique().tolist()
# col_nam

In [31]:
# col_name = df.department.unique()
# col_name

# dept_pivot = df.pivot(index = df.department.unique(), columns = [df['fy'].unique()], values = 'chksubtot')

# dept_pivot.head()

In [108]:
#sum spent by each dept for the year along with the avg(mean) of each check issued
dept_year_spend = df.groupby(['fy','department'])['chksubtot'].agg(['sum', 'mean']).sort_values(by=['fy','sum'],ascending=False)
dept_year_spend.style.format(format_dict)
# dept_year_spend.head(60)

#### Question 1 : AVI Vendors
##### Montlhy breakdown of payments to vendor "Clear"

In [109]:
avi_dept = df[df.department =='Aviation']
avi_dept.style.format(format_dict)
avi_dept.head()

,rundate,fy,fm,docid,chksubtot,vcode,vendor,zip5,ftyp,fundtype,...,objectgroup,obj,object,comm,commoditydscr,invoicedate,invoicenumber,cm,date_combo,fy_q
81,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240009938,106.86,VC18843,Alan Mathew,75048,EFOP,Enterprise Operating Fund,...,Contractual & Other Services,3361,Professional Development,NaN,NONE,NaN,NaN,11,2024-11-01,2025Q1
200,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240010089,24744.45,VS0000031592,"APPLIED PAVEMENT TECHNOLOGY, INC.",53597,AVIC,Aviation Capital Program,...,Capital Outlay,4111,Engineering Design,84549.0,PAVEMENT TESTING AND DATA COLLECTION EQUIPMENT,NaN,NaN,11,2024-11-01,2025Q1
229,2023-11-01T00:00:00.000,2024,2,AD-BMS-AY240002126,110480.10,VS88417,"Hi-Lite Airfield Services, LLC",13601,EFOP,Enterprise Operating Fund,...,Contractual & Other Services,3210,Repair&Maint Ser Bldg Etc,91364.0,"MAINTENANCE AND REPAIR: AIRPORT ROADWAY, RUNWA...",NaN,NaN,11,2024-11-01,2025Q1
236,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240010097,10035.00,VS0000051722,GRESHAM SMITH,37230,EFOP,Enterprise Operating Fund,...,Contractual & Other Services,3070,Professional Services,92642.0,ENVIRONMENTAL SERVICES (NOT OTHERWISE CLASSIFIED),NaN,NaN,11,2024-11-01,2025Q1
321,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240009887,2489.20,500437,WINSTON WATER COOLER LTD,75373,EFOP,Enterprise Operating Fund,...,Supplies & Materials,2998,Inventory Purchase,67000.0,"PLUMBING EQUIPMENT, FIXTURES, AND SUPPLIES",NaN,NaN,11,2024-11-01,2025Q1

In [110]:
#first, lets isolate the Aviation dept, vendors for fy '22 from the rest the data
aviation_vendors_sum = avi_dept.groupby(['vendor'])['chksubtot'].agg(['sum']).sort_values(by=['sum'],ascending=False)
aviation_vendors_sum

                                             sum
vendor
Flatiron Constructors, Inc.          20848125.89
PARKING CONCEPTS, INC.                2103551.70
DLF Denton, LLC                       1808562.38
Member's Building Maintenance, LLC.   1754570.15
HNTB CORPORATION                      1492220.82
...                                          ...
HOWARD CARTER                              38.40
Hayes Hodges                               33.30
THOMAS REPROGRAPHICS INC                   24.00
Quick Acquisition LLC                       0.00
Promark Technology, Inc.                    0.00

[334 rows x 1 columns]

In [111]:
avi_dept.shape

(2360, 25)

In [113]:
#contains_clear, searching for vendor ayout to "Clear" 
avi_dept.loc[avi_dept['vendor'].str.contains('Flatiron', case=False)]

,rundate,fy,fm,docid,chksubtot,vcode,vendor,zip5,ftyp,fundtype,...,objectgroup,obj,object,comm,commoditydscr,invoicedate,invoicenumber,cm,date_combo,fy_q
6845,2023-10-17T00:00:00.000,2024,1,EFT-BMS-EY240004669,2107853.49,VS96112,"Flatiron Constructors, Inc.",80021,AVRC,Aviation Capital Program.commercial paper,...,Capital Outlay,4599,Other Improvements-other than Building,92500.0,"ENGINEERING SERVICES, PROFESSIONAL",NaN,NaN,10,2024-10-01,2025Q1
16002,2023-09-19T00:00:00.000,2023,12,EFT-BMS-EY230054757,1365757.17,VS96112,"Flatiron Constructors, Inc.",80021,AVRC,Aviation Capital Program.commercial paper,...,Capital Outlay,4599,Other Improvements-other than Building,92500.0,"ENGINEERING SERVICES, PROFESSIONAL",NaN,NaN,9,2023-09-01,2023Q4
16290,2023-09-19T00:00:00.000,2023,12,EFT-BMS-EY230054757,2717642.92,VS96112,"Flatiron Constructors, Inc.",80021,AVIC,Aviation Capital Program,...,Capital Outlay,4599,Other Improvements-other than Building,92500.0,"ENGINEERING SERVICES, PROFESSIONAL",NaN,NaN,9,2023-09-01,2023Q4
23262,2023-08-24T00:00:00.000,2023,11,EFT-BMS-EY230050549,4201637.47,VS96112,"Flatiron Constructors, Inc.",80021,AVIC,Aviation Capital Program,...,Capital Outlay,4599,Other Improvements-other than Building,92500.0,"ENGINEERING SERVICES, PROFESSIONAL",NaN,NaN,8,2023-08-01,2023Q4
23940,2023-08-22T00:00:00.000,2023,11,EFT-BMS-EY230050091,163920.47,VS96112,"Flatiron Constructors, Inc.",80021,AVRC,Aviation Capital Program.commercial paper,...,Capital Outlay,4599,Other Improvements-other than Building,92500.0,"ENGINEERING SERVICES, PROFESSIONAL",NaN,NaN,8,2023-08-01,2023Q4
30682,2023-07-21T00:00:00.000,2023,10,EFT-BMS-EY230045886,1725487.63,VS96112,"Flatiron Constructors, Inc.",80021,AVIC,Aviation Capital Program,...,Capital Outlay,4599,Other Improvements-other than Building,92500.0,"ENGINEERING SERVICES, PROFESSIONAL",NaN,NaN,7,2023-07-01,2023Q4
35832,2023-06-27T00:00:00.000,2023,9,EFT-BMS-EY230042747,2632196.39,VS96112,"Flatiron Constructors, Inc.",80021,AVIC,Aviation Capital Program,...,Capital Outlay,4599,Other Improvements-other than Building,92500.0,"ENGINEERING SERVICES, PROFESSIONAL",NaN,NaN,6,2023-06-01,2023Q3
40297,2023-06-07T00:00:00.000,2023,9,EFT-BMS-EY230040238,35322.07,VS96112,"Flatiron Constructors, Inc.",80021,AVRC,Aviation Capital Program.commercial paper,...,Capital Outlay,4599,Other Improvements-other than Building,92500.0,"ENGINEERING SERVICES, PROFESSIONAL",NaN,NaN,6,2023-06-01,2023Q3
41383,2023-06-01T00:00:00.000,2023,9,EFT-BMS-EY230039470,3816070.59,VS96112,"Flatiron Constructors, Inc.",80021,AVIC,Aviation Capital Program,...,Capital Outlay,4599,Other Improvements-other than Building,92500.0,"ENGINEERING SERVICES, PROFESSIONAL",NaN,NaN,6,2023-06-01,2023Q3
48129,2023-05-01T00:00:00.000,2023,8,EFT-BMS-EY230035256,2082237.69,VS96112,"Flatiron Constructors, Inc.",80021,AVIC,Aviation Capital Program,...,Capital Outlay,4599,Other Improvements-other than Building,92500.0,"ENGINEERING SERVICES, PROFESSIONAL",NaN,NaN,5,2023-05-01,2023Q3

In [37]:
#fire dept
fire_dept =  df[df.department =='Dallas Fire Department']
fire_dept.style.format(format_dict)
fire_dept.head()

,rundate,fy,fm,docid,chksubtot,vcode,vendor,zip5,ftyp,fundtype,...,objectgroup,obj,object,comm,commoditydscr,invoicedate,invoicenumber,cm,date_combo,fy_q
44,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240009871,224.00,359345,RECOVERY SYSTEMS INC,75067.0,GNFD,General Fund,...,Contractual & Other Services,3110,Repair&Maint Serv Equip,7095.0,WRECKERS,NaN,NaN,11,2024-11-01,2025Q1
45,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240010229,1355.00,507070,SUNBELT RENTALS INC.,30384.0,GNFD,General Fund,...,Contractual & Other Services,3060,Equip Rntl (Outside City),98100.0,RENTAL OR LEASE OF EQUIPMENT - GENERAL EQUIPMENT,NaN,NaN,11,2024-11-01,2025Q1
118,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240010230,442.64,VC21411,Hydraulic Hose of Love Field LLC,75027.0,GNFD,General Fund,...,Contractual & Other Services,3110,Repair&Maint Serv Equip,6060.0,"HOSE AND HOSE FITTINGS: BRAKE, HEATER, RADIATO...",NaN,NaN,11,2024-11-01,2025Q1
232,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240010185,2856.70,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3110,Repair&Maint Serv Equip,7003.0,AMBULANCES AND RESCUE VEHICLES,NaN,NaN,11,2024-11-01,2025Q1
265,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240009926,1272.30,VC14210,"Safeware, Inc",20706.0,GNFD,General Fund,...,Contractual & Other Services,3110,Repair&Maint Serv Equip,93608.0,"AIR COMPRESSORS AND ACCESSORIES, MAINTENANCE A...",NaN,NaN,11,2024-11-01,2025Q1

In [38]:
fire_dept.shape

(188, 25)

In [114]:
fire_vendors =fire_dept.groupby(['vendor'])['chksubtot'].agg(['sum']).sort_values(by=['sum'],ascending=False)
fire_vendors

                                             sum
vendor
Siddons Martin Emergency Group, LLC   2554550.90
Digitech Computer LLC                  547732.61
Public Consulting Group LLC            459278.10
SAM PACK'S FIVE STAR FORD              166811.50
TEXAS COMMISSION ON FIRE               112740.00
...                                          ...
JACQUELINE CAMPER                         196.84
Charter Communications Holdings, LLC      159.52
MCSHAN FLORIST                             96.35
FEDERAL EXPRESS CORP                       42.58
JONATHAN FORMBY                            18.41

[72 rows x 1 columns]

DFR
    - Purchase order(s) from Dallas Fire Department for Medline Industries

In [116]:

fire_dept.loc[fire_dept['vendor'].str.contains('Siddons', case=False)]

,rundate,fy,fm,docid,chksubtot,vcode,vendor,zip5,ftyp,fundtype,...,objectgroup,obj,object,comm,commoditydscr,invoicedate,invoicenumber,cm,date_combo,fy_q
232,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240010185,2856.70,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3110,Repair&Maint Serv Equip,7003.0,AMBULANCES AND RESCUE VEHICLES,NaN,NaN,11,2024-11-01,2025Q1
288,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240010183,2665.00,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3085,Freight,6000.0,AUTOMOTIVE AND TRAILER MAINTENANCE ITEMS AND R...,NaN,NaN,11,2024-11-01,2025Q1
534,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240010181,700.00,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3085,Freight,6000.0,AUTOMOTIVE AND TRAILER MAINTENANCE ITEMS AND R...,NaN,NaN,11,2024-11-01,2025Q1
667,2023-10-31T00:00:00.000,2024,1,EFT-BMS-EY240009690,75.00,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3085,Freight,6000.0,AUTOMOTIVE AND TRAILER MAINTENANCE ITEMS AND R...,NaN,NaN,10,2024-10-01,2025Q1
778,2023-10-31T00:00:00.000,2024,1,EFT-BMS-EY240009688,7557.69,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3110,Repair&Maint Serv Equip,7003.0,AMBULANCES AND RESCUE VEHICLES,NaN,NaN,10,2024-10-01,2025Q1
844,2023-10-31T00:00:00.000,2024,1,EFT-BMS-EY240009689,1431.99,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3110,Repair&Maint Serv Equip,7003.0,AMBULANCES AND RESCUE VEHICLES,NaN,NaN,10,2024-10-01,2025Q1
905,2023-10-31T00:00:00.000,2024,1,EFT-BMS-EY240009687,831610.00,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,OTDB,Other GO CIP - Debt,...,Capital Outlay,4742,Trucks,7003.0,AMBULANCES AND RESCUE VEHICLES,NaN,NaN,10,2024-10-01,2025Q1
968,2023-10-31T00:00:00.000,2024,1,EFT-BMS-EY240009686,2235.30,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3110,Repair&Maint Serv Equip,7003.0,AMBULANCES AND RESCUE VEHICLES,NaN,NaN,10,2024-10-01,2025Q1
1319,2023-10-30T00:00:00.000,2024,1,EFT-BMS-EY240009150,250.00,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3085,Freight,6000.0,AUTOMOTIVE AND TRAILER MAINTENANCE ITEMS AND R...,NaN,NaN,10,2024-10-01,2025Q1
1364,2023-10-30T00:00:00.000,2024,1,EFT-BMS-EY240009052,1149.00,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3110,Repair&Maint Serv Equip,7003.0,AMBULANCES AND RESCUE VEHICLES,NaN,NaN,10,2024-10-01,2025Q1
1938,2023-10-30T00:00:00.000,2024,1,EFT-BMS-EY240009052,75.00,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3085,Freight,7003.0,AMBULANCES AND RESCUE VEHICLES,NaN,NaN,10,2024-10-01,2025Q1
2042,2023-10-27T00:00:00.000,2024,1,EFT-BMS-EY240008440,450.00,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3085,Freight,7003.0,AMBULANCES AND RESCUE VEHICLES,NaN,NaN,10,2024-10-01,2025Q1
2534,2023-10-27T00:00:00.000,2024,1,EFT-BMS-EY240008441,321.41,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3085,Freight,7003.0,AMBULANCES AND RESCUE VEHICLES,NaN,NaN,10,2024-10-01,2025Q1
2624,2023-10-27T00:00:00.000,2024,1,EFT-BMS-EY240008441,1502.87,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3110,Repair&Maint Serv Equip,7003.0,AMBULANCES AND RESCUE VEHICLES,NaN,NaN,10,2024-10-01,2025Q1
4135,2023-10-24T00:00:00.000,2024,1,EFT-BMS-EY240006987,22335.04,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3110,Repair&Maint Serv Equip,6000.0,AUTOMOTIVE AND TRAILER MAINTENANCE ITEMS AND R...,NaN,NaN,10,2024-10-01,2025Q1
4320,2023-10-23T00:00:00.000,2024,1,EFT-BMS-EY240006548,300.00,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3085,Freight,6000.0,AUTOMOTIVE AND TRAILER MAINTENANCE ITEMS AND R...,NaN,NaN,10,2024-10-01,2025Q1
4499,2023-10-23T00:00:00.000,2024,1,EFT-BMS-EY240006606,2000.00,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3085,Freight,6000.0,AUTOMOTIVE AND TRAILER MAINTENANCE ITEMS AND R...,NaN,NaN,10,2024-10-01,2025Q1
4804,2023-10-20T00:00:00.000,2024,1,EFT-BMS-EY240006084,831610.00,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,OTDB,Other GO CIP - Debt,...,Capital Outlay,4742,Trucks,7003.0,AMBULANCES AND RESCUE VEHICLES,NaN,NaN,10,2024-10-01,2025Q1
5051,2023-10-20T00:00:00.000,2024,1,EFT-BMS-EY240006085,831610.00,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,OTDB,Other GO CIP - Debt,...,Capital Outlay,4742,Trucks,7003.0,AMBULANCES AND RESCUE VEHICLES,NaN,NaN,10,2024-10-01,2025Q1
5602,2023-10-19T00:00:00.000,2024,1,EFT-BMS-EY240005755,1818.96,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3110,Repair&Maint Serv Equip,7003.0,AMBULANCES AND RESCUE VEHICLES,NaN,NaN,10,2024-10-01,2025Q1
6466,2023-10-17T00:00:00.000,2024,1,EFT-BMS-EY240004753,1309.35,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3110,Repair&Maint Serv Equip,7003.0,AMBULANCES AND RESCUE VEHICLES,NaN,NaN,10,2024-10-01,2025Q1
6567,2023-10-17T00:00:00.000,2024,1,EFT-BMS-EY240004659,2072.23,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3110,Repair&Maint Serv Equip,7003.0,AMBULANCES AND RESCUE VEHICLES,NaN,NaN,10,2024-10-01,2025Q1
6877,2023-10-17T00:00:00.000,2024,1,EFT-BMS-EY240004660,2798.40,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3110,Repair&Maint Serv Equip,7003.0,AMBULANCES AND RESCUE VEHICLES,NaN,NaN,10,2024-10-01,2025Q1
7706,2023-10-16T00:00:00.000,2024,1,EFT-BMS-EY240004216,2098.80,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3110,Repair&Maint Serv Equip,7003.0,AMBULANCES AND RESCUE VEHICLES,NaN,NaN,10,2024-10-01,2025Q1
8844,2023-10-11T00:00:00.000,2024,1,EFT-BMS-EY240002843,1259.28,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3110,Repair&Maint Serv Equip,7003.0,AMBULANCES AND RESCUE VEHICLES,NaN,NaN,10,2024-10-01,2025Q1
9206,2023-10-11T00:00:00.000,2024,1,EFT-BMS-EY240002843,500.00,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3085,Freight,6000.0,AUTOMOTIVE AND TRAILER MAINTENANCE ITEMS AND R...,NaN,NaN,10,2024-10-01,2025Q1
9564,2023-10-10T00:00:00.000,2024,1,EFT-BMS-EY240002437,1958.88,VS90252,"Siddons Martin Emergency Group, LLC",77032.0,GNFD,General Fund,...,Contractual & Other Services,3110,Repair&Maint Serv Equip,7003.0,AMBULANCES AND RESCUE VEHICLES,NaN,NaN,10,2024-10-01,2025Q1

Temp Staffing/Contract
    - I am requesting an opportunity to inspect or obtain copies of public records for the contract - Temporary Staffing. The details I am requesting are given below: Proposals of the awarded vendors. Spending on this contract till now.

In [117]:
temp_staff_contract = df[df.object =='Outside Temps/Staffing']
temp_staff_contract.head()

,rundate,fy,fm,docid,chksubtot,vcode,vendor,zip5,ftyp,fundtype,...,objectgroup,obj,object,comm,commoditydscr,invoicedate,invoicenumber,cm,date_combo,fy_q
32,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240010128,1105.20,VS0000066539,"SMITH TEMPORARIES, INC",75201,GNFD,General Fund,...,Contractual & Other Services,3994,Outside Temps/Staffing,96269.0,"PERSONNEL SERVICES, TEMPORARY",NaN,NaN,11,2024-11-01,2025Q1
40,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240010133,1105.20,VS0000066539,"SMITH TEMPORARIES, INC",75201,CVID,COVID-19,...,Contractual & Other Services,3994,Outside Temps/Staffing,96269.0,"PERSONNEL SERVICES, TEMPORARY",NaN,NaN,11,2024-11-01,2025Q1
42,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240010145,320.68,VS0000066539,"SMITH TEMPORARIES, INC",75201,GNFD,General Fund,...,Contractual & Other Services,3994,Outside Temps/Staffing,96269.0,"PERSONNEL SERVICES, TEMPORARY",NaN,NaN,11,2024-11-01,2025Q1
47,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240010123,1464.48,VS0000066539,"SMITH TEMPORARIES, INC",75201,GNFD,General Fund,...,Contractual & Other Services,3994,Outside Temps/Staffing,96269.0,"PERSONNEL SERVICES, TEMPORARY",NaN,NaN,11,2024-11-01,2025Q1
61,2023-11-01T00:00:00.000,2024,2,EFT-BMS-EY240010154,884.16,VS0000066539,"SMITH TEMPORARIES, INC",75201,GNFD,General Fund,...,Contractual & Other Services,3994,Outside Temps/Staffing,96269.0,"PERSONNEL SERVICES, TEMPORARY",NaN,NaN,11,2024-11-01,2025Q1

In [42]:
temp_staff_contract.shape

(758, 25)

In [118]:
#temp contract by year and  vendor
temp_staff_contract.groupby(['vendor','fy'])['chksubtot'].agg(['sum']).sort_values(by=['vendor','sum'],ascending=False)

                                             sum
vendor                          fy
SMITH TEMPORARIES, INC          2023  3245498.77
                                2024  1103467.57
Rushmore Corporation            2023   520631.52
                                2024    98594.89
Lincoln Leadership Advisors LLC 2023        0.00
GTS Technology Solutions, Inc   2023   551127.34
                                2024   262376.80
BGSF Professional, LLC          2023   115487.50
                                2024    46472.50
22ND CENTURY TECHNOLOGIES, INC. 2023  2286419.89
                                2024   302796.12

In [44]:
df.columns

Index(['rundate', 'fy', 'fm', 'docid', 'chksubtot', 'vcode', 'vendor', 'zip5',
       'ftyp', 'fundtype', 'dpt', 'department', 'actv', 'activity', 'ogrp',
       'objectgroup', 'obj', 'object', 'comm', 'commoditydscr', 'invoicedate',
       'invoicenumber', 'cm', 'date_combo', 'fy_q'],
      dtype='object')

### Data Preparation

### More on datetime funtions :
##### - Date Formats : https://www.geeksforgeeks.org/python-strftime-function/
##### - Converting Dates: https://www.w3resource.com/python-exercises/pandas/time-series/pandas-time-series-exercise-12.php
##### - Pandas Official Documentation: https://pandas.pydata.org/docs/user_guide/timeseries.html?highlight=datetime

In [119]:
#median check amount by month
df.groupby('date_combo')['chksubtot'].median()

date_combo
2023-04-01    1030.000
2023-05-01     952.750
2023-06-01     981.190
2023-07-01    1027.150
2023-08-01     859.200
2023-09-01     969.975
2024-10-01     884.160
2024-11-01     798.075
Name: chksubtot, dtype: float64

In [121]:
#mean check amount by month
df.groupby('date_combo')['chksubtot'].mean().tail()

date_combo
2023-07-01    21938.590894
2023-08-01    17988.186667
2023-09-01    19152.548304
2024-10-01    14942.629411
2024-11-01     8728.295241
Name: chksubtot, dtype: float64

In [122]:
#when do most vendor purchase/payment occur? Which quarter?
df.fq.value_counts()

AttributeError: 'DataFrame' object has no attribute 'fq'

In [123]:
#Per the data Adjustment period is labeled as month 13 and only occur in 2020 & 2019
#would we want to exclude these?
adjustment_period = df[df.fq == "Adjustment_Period"]
adjustment_period

AttributeError: 'DataFrame' object has no attribute 'fq'

### Modeling (optional)

In [ ]:
df.columns

In [ ]:
df.plot( x = 'fy_q', y = 'chksubtot', kind = 'bar')
plt.show()

In [ ]:
#vizualizing payout by fy/$
df.groupby('fy_q')['chksubtot'].mean().plot(kind='line',color= 'C1')
plt.title("Mean Vendor Payout($) by FY", color= 'C1')
plt.xlabel(" Q",color= 'C1')
plt.ylabel("Mean Check paid ($)", color= 'C1')
plt.show()

In [ ]:
fire_dept.corr()

### Evaluation( Data Presentation/Validation--how to present data to stakeholder)

In [126]:
#Create Data Profile on Fire Department vendors/contracts only
format_dict = {'%Missing': '{:.2%}'}

#fire_dept cols to list
col_nam = fire_dept.columns.tolist()
#create new columns
df1_clean = pd.DataFrame(index = col_nam,columns=['Column Description', 'Populated', 'Unique', 'Missing','%Missing','ActualType', 'Minimum', 'Median', 'Maximum' 'DataType'])

#covert the data types to a list
df1d = fire_dept.convert_dtypes()

#fill new columns with data
df1_clean['Populated'] = fire_dept.count()
df1_clean['Unique'] = fire_dept.nunique()
df1_clean['Missing'] = fire_dept.isnull().sum()
df1_clean['%Missing'] = df1_clean['Missing']/df1_clean['Populated']
df1_clean['ActualType'] = df1d.dtypes
df1_clean['Minimum'] = fire_dept.min()
df1_clean['Maximum'] = fire_dept.max()
df1_clean['Median'] = fire_dept.median()

df1_clean.style.format(format_dict)

<ipython-input-126-39530b0e6e49>:20: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df1_clean['Median'] = fire_dept.median()

In [130]:
# export for excel data profile
file_name = "fire_dept_Data_Profile.xlsx"
with pd.ExcelWriter(file_name) as writer:
    # writing to the 'Employee' sheet
    fire_dept.to_excel(writer, sheet_name='Fire_Profile', index=False)

### Deployment( Visualization & Presentation)